// Colors
:root {
  --dark-background: #202124;
  --dark-grey-background: #2d2f33;
  --black: #000000;
  --white: #ffffff;
  --grey: #999999;
  --grey-background: #3c4043;
  --grey-text: #e8eaed;
  --grey-border: #5f6368;
  --grey-placeholder: #9aa0a6;
  --blue-focus: #8ab4f8;
  --blue-background: #4285f4;
  --blue-active: #1a56d9;
  --blue-hover: #3367d6;
}